// SASS VARIABLES //
$break-1: 850px;

// // ABOUT STYLES // //
#about-section {
	background: var(--creme);

	article {
		max-width: var(--page-max-width);
		padding: var(--article-pdg);
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
		margin: 0 auto;

		@media screen and (max-width: $break-1) {
			grid-template-columns: 1fr;
		}

		#about-img-container {
			box-shadow: 0.4375rem 0.5625rem 0.25rem var(--brown);
			background: linear-gradient(rgba(99, 72, 17, 0.15), rgba(0, 0, 0, 0.3)), url('../images/about.jpg') center/cover no-repeat;

			@media screen and (max-width: $break-1) {
				height: 30vh;
				margin-bottom: 2rem;
			}
		}

		#about-txt-container {
			color: var(--grey);

			h4 {
				text-align: left;
			}

			p {
				text-align: justify;

				.about-links {
					color: var(--yellow);
				}
			}
		}
	}
}