// SASS VARIABLES //
$break-1: 1000px;
$break-2: 850px;
$break-3: 550px;
$break-4: 350px;
$break-5: 850px; //vertical
$break-6: 550px; //vertical

// // FOOTER STYLES // //
#footer-section {
	background: var(--brown);

	article {
		.btn-regular {
			i {
				padding-right: 0.125rem;
			}
		}

		p {
			color: var(--creme);
		}

		// header/footer icons container (almost the same as in the header //
		ul {
			display: flex;
			align-items: center;
			justify-content: center;

			li {
				font-size: var(--fsize-logos);
				text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.5);
				margin: 0 0.5rem;

				a {
					transition: var(--transition-out);
					color: var(--orange);

					&:active {
						transition: var(--transition-in);
						color: var(--yellow);
					}

					@media (hover: hover) {
						&:hover {
							transition: var(--transition-in);
							color: var(--yellow);
						}
					}
				}
			}
		}
	}

	// // CONTACT FORM STYLES // //
	#contact-form-container {
		background: var(--creme-light);
		position: fixed;
		top: 110%; //hidden below the screen
		left: 50%; //horizontally centered
		margin-left: -250px; //negative half of width
		width: 500px;
		height: 500px;
		box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.6);

		@media screen and (max-width: $break-3) {
			width: 300px;
			height: 520px;
			margin-left: -150px; //negative half of width
		}

		@media screen and (max-height: $break-5) {
			height: 450px;
			padding-top: 1.75rem;
		}

		@media screen and (max-height: $break-6) {
			height: 270px;
		}

		.fa-xmark {
			color: var(--grey);
			font-size: var(--fsize-logos);
			position: absolute;
			right: 0.25rem;
			top: 0;

			&:active {
				cursor: pointer;
			}

			@media (hover: hover) {
				&:hover {
					cursor: pointer;
				}
			}
		}

		form {
			h4 {
				color: var(--grey);
				margin: 1.25rem 0;

				@media screen and (max-height: $break-5) {
					display: none;
				}
			}

			input {
				width: 90%;
				height: 1.5rem;
				padding: 0.75rem 0.5rem;
				margin: 0.25rem;
				border: 0.0625rem solid rgba(102, 98, 90, 0.2);

				@media screen and (max-height: $break-6) {
					padding: 0.5rem;
					margin: 0.0625rem;
				}
			}

			p {
				margin: 1.25rem 0.5rem;

				@media screen and (max-height: $break-6) {
					display: none;
				}
			}

			.btn-regular {
				font-size: 0.8125rem;

				@media screen and (max-height: $break-6) {
					margin-top: 0.75rem;
				}
			}
		}
	}
}