#header-section {
  background: var(--creme);
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 2rem;
}
@media screen and (max-width: 350px), (max-height: 850px) {
  #header-section {
    padding: 0.75rem 2rem;
  }
}
#header-section article {
  max-width: var(--page-max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
#header-section article img {
  position: absolute;
  top: 0.375rem;
  height: 4.75rem;
  transform: translateX(4.625rem);
}
@media screen and (max-width: 350px), (max-height: 850px) {
  #header-section article img {
    display: none;
  }
}
#header-section article h2 {
  font-size: var(--fsize-logos);
  text-shadow: 0 0.125rem 0.125rem var(--grey);
  position: relative;
  text-align: center;
  font-weight: bold;
  line-height: 0.7;
}
#header-section article h2 a {
  transition: var(--transition-out);
  color: var(--yellow);
  text-decoration: none;
}
#header-section article h2 a span {
  text-shadow: 0 0.125rem 0.125rem var(--grey);
  position: relative;
}
#header-section article h2 a:active {
  transition: var(--transition-in);
  color: var(--yellow-light);
}
@media (hover: hover) {
  #header-section article h2 a:hover {
    transition: var(--transition-in);
    color: var(--yellow-light);
  }
}
@media screen and (max-width: 550px) and (max-height: 550px) {
  #header-section article h2 {
    font-size: 1.0625rem;
  }
}
#header-section article nav {
  display: flex;
}
@media screen and (max-width: 850px) {
  #header-section article nav {
    display: none;
  }
}
#header-section article nav li {
  letter-spacing: var(--spacing-small);
  font-weight: bold;
  margin-right: 1rem;
}
@media screen and (max-width: 1000px) {
  #header-section article nav li {
    margin-right: 0;
    margin-left: 1rem;
  }
}
#header-section article nav li a {
  transition: var(--transition-out);
  color: var(--grey);
  text-decoration: none;
}
#header-section article nav li a:active {
  transition: var(--transition-in);
  color: var(--orange);
}
@media (hover: hover) {
  #header-section article nav li a:hover {
    transition: var(--transition-in);
    color: var(--orange);
  }
}
#header-section article ul {
  display: flex;
}
@media screen and (max-width: 1000px) {
  #header-section article ul {
    display: none;
  }
}
#header-section article ul li {
  font-size: var(--fsize-logos);
  text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--grey);
  margin-left: 1.25rem;
}
#header-section article ul li a {
  transition: var(--transition-out);
  color: var(--orange);
}
#header-section article ul li a:active {
  transition: var(--transition-in);
  color: var(--yellow);
}
@media (hover: hover) {
  #header-section article ul li a:hover {
    transition: var(--transition-in);
    color: var(--yellow);
  }
}
#header-section article .fa-list-ul {
  transition: var(--transition-out);
  color: var(--brown);
  text-shadow: 0.0625rem 0.0625rem 0.125rem var(--grey);
  display: none;
  font-size: 2rem;
}
#header-section article .fa-list-ul:active {
  transition: var(--transition-in);
  color: var(--yellow);
}
@media (hover: hover) {
  #header-section article .fa-list-ul:hover {
    transition: var(--transition-in);
    color: var(--yellow);
  }
}
@media screen and (max-width: 850px) {
  #header-section article .fa-list-ul {
    display: block;
  }
}
@media screen and (max-width: 350px), (max-height: 550px) {
  #header-section article .fa-list-ul {
    font-size: 1.5rem;
  }
}
#header-section #minimized-menu-container {
  background: var(--creme-light);
  position: fixed;
  top: 0.125rem;
  right: -110%;
  padding: 2rem 1rem;
  box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.6);
}
#header-section #minimized-menu-container .fa-xmark {
  font-size: var(--fsize-logos);
  color: var(--grey);
  position: absolute;
  top: 0;
  left: 0.25rem;
}
#header-section #minimized-menu-container .fa-xmark:active {
  cursor: pointer;
}
@media (hover: hover) {
  #header-section #minimized-menu-container .fa-xmark:hover {
    cursor: pointer;
  }
}
#header-section #minimized-menu-container nav li {
  letter-spacing: var(--spacing-small);
  text-align: right;
  font-weight: bold;
  padding: 1rem;
}
#header-section #minimized-menu-container nav li a {
  transition: var(--transition-out);
  color: var(--grey);
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 1rem;
}
#header-section #minimized-menu-container nav li a:active {
  transition: var(--transition-in);
  color: var(--orange);
}
@media (hover: hover) {
  #header-section #minimized-menu-container nav li a:hover {
    transition: var(--transition-in);
    color: var(--orange);
  }
}/*# sourceMappingURL=Header.css.map */