// SASS VARIABLES //
$break-1: 1000px;
$break-2: 850px;
$break-3: 550px;
$break-4: 350px;
$break-5: 850px; //vertical
$break-6: 550px; //vertical

// // HEADER STYLES // //
#header-section {
	background: var(--creme);
	box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	padding: 2rem;

	@media screen and (max-width: $break-4),
	(max-height: $break-5) {
		padding: 0.75rem 2rem;
	}

	article {
		max-width: var(--page-max-width);
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;

		// header logo //	
		img {
			position: absolute;
			top: 0.375rem;
			height: 4.75rem;
			transform: translateX(4.625rem);

			@media screen and (max-width: $break-4),
			(max-height: $break-5) {
				display: none;
			}
		}

		h2 {
			font-size: var(--fsize-logos);
			text-shadow: 0 0.125rem 0.125rem var(--grey);
			position: relative;
			text-align: center;
			font-weight: bold;
			line-height: 0.7;

			a {
				transition: var(--transition-out);
				color: var(--yellow);
				text-decoration: none;

				span {
					text-shadow: 0 0.125rem 0.125rem var(--grey);
					position: relative;
				}

				&:active {
					transition: var(--transition-in);
					color: var(--yellow-light);
				}
				
				@media (hover: hover) {
					&:hover {
						transition: var(--transition-in);
						color: var(--yellow-light);
					}
				}
			}

			@media screen and (max-width: $break-3) and (max-height: $break-6) {
				font-size: 1.0625rem;
			}
		}

		// header links container //
		nav {
			display: flex;

			@media screen and (max-width: $break-2) {
				display: none;
			}

			li {
				letter-spacing: var(--spacing-small);
				font-weight: bold;
				margin-right: 1rem; // the "right" margin makes it look more centered

				@media screen and (max-width: $break-1) {
					margin-right: 0; // when the nav-links are all the way to the right
					margin-left: 1rem;
				}

				a {
					transition: var(--transition-out);
					color: var(--grey);
					text-decoration: none;

					&:active {
						transition: var(--transition-in);
						color: var(--orange);
					}

					@media (hover: hover) {
						&:hover {
							transition: var(--transition-in);
							color: var(--orange);
						}
					}
				}
			}
		}

		// header icons container //
		ul {
			display: flex;

			@media screen and (max-width: $break-1) {
				display: none;
			}

			li {
				font-size: var(--fsize-logos);
				text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--grey);
				margin-left: 1.25rem;

				a {
					transition: var(--transition-out);
					color: var(--orange);

					&:active {
						transition: var(--transition-in);
						color: var(--yellow);
					}

					@media (hover: hover) {
						&:hover {
							transition: var(--transition-in);
							color: var(--yellow);
						}
					}
				}
			}
		}

		// minimized menu icon //
		.fa-list-ul {
			transition: var(--transition-out);
			color: var(--brown);
			text-shadow: 0.0625rem 0.0625rem 0.125rem var(--grey);
			display: none;
			font-size: 2rem;

			&:active {
				transition: var(--transition-in);
				color: var(--yellow);
			}

			@media (hover: hover) {
				&:hover {
					transition: var(--transition-in);
					color: var(--yellow);
				}
			}

			@media screen and (max-width: $break-2) {
				display: block;
			}

			@media screen and (max-width: $break-4),
			(max-height: $break-6) {
				font-size: 1.5rem;
			}
		}
	}

	// // MINIMIZED MENU CONTAINER // //
	#minimized-menu-container {
		background: var(--creme-light);
		position: fixed;
		top: 0.125rem; // "0.125rem" leaves a small gap for the div's shadow
		right: -110%; // hidden to the right
		padding: 2rem 1rem;
		box-shadow: 0 0 0.25rem 0.125rem rgba(0, 0, 0, 0.6);

		.fa-xmark {
			font-size: var(--fsize-logos);
			color: var(--grey);
			position: absolute;
			top: 0;
			left: 0.25rem;

			&:active {
				cursor: pointer;
			}

			@media (hover: hover) {
				&:hover {
					cursor: pointer;
				}
			}
		}

		nav {
			li {
				letter-spacing: var(--spacing-small);
				text-align: right;
				font-weight: bold;
				padding: 1rem;

				a {
					transition: var(--transition-out);
					color: var(--grey);
					text-decoration: none;
					text-transform: uppercase;
					margin-right: 1rem;

					&:active {
						transition: var(--transition-in);
						color: var(--orange);
					}

					@media (hover: hover) {
						&:hover {
							transition: var(--transition-in);
							color: var(--orange);
						}
					}
				}
			}
		}
	}
}