// SASS VARIABLES //
$break-1: 1000px;
$break-2: 850px;
$break-3: 550px;
$break-4: 350px;
$break-5: 850px; //vertical
$break-6: 550px; //vertical

// // HERO STYLES // //
#hero-section {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgba(99, 72, 17, 0.65), rgba(0, 0, 0, 0.65)), url('../images/hero.jpg') center/cover no-repeat;
	min-height: 100vh;

	article {
		letter-spacing: var(--spacing-big);
		word-spacing: 0.25rem;

		h1 {
			font-size: var(--fsize-hero);
			color: var(--creme);

			@media screen and (max-width: $break-3) {
				font-size: var(--fsize-logos);
				letter-spacing: var(--spacing-small);
			}
		}

		p {
			color: var(--creme);
			margin: 1rem 0 2rem 0;
		}

		a {
			transition: var(--transition-out);
			color: var(--orange);
			background: var(--creme);
			font-size: var(--fsize-logos);
			letter-spacing: var(--spacing-small);
			padding: var(--btn-pdg);
			text-decoration: none;
			border: 2px solid transparent;
			cursor: pointer;
			box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.9);

			&:active {
				transition: var(--transition-in);
				color: var(--creme);
				border: 2px solid var(--creme);
				background: transparent;
				box-shadow: none;
			}

			@media (hover: hover) {
				&:hover {
					transition: var(--transition-in);
					color: var(--creme);
					border: 2px solid var(--creme);
					background: transparent;
					box-shadow: none;
				}
			}
		}
	}
}