// SASS VARIABLES
$break-2: 500px;

// // HERO STYLES // //
#hero-section {
	padding: var(--section-pdg);
	background: linear-gradient(rgba(99, 72, 17, 0.65), rgba(0, 0, 0, 0.65)), url('../images/hero.jpg') center/cover no-repeat;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	article {
		max-width: var(--page-max-width);
		letter-spacing: var(--spacing-big);
		color: var(--creme);
		text-align: center;
		word-spacing: 0.25rem;

		h1 {
			font-size: var(--fsize-hero);

			@media screen and (max-width: $break-2) {
				font-size: var(--fsize-logos);
				letter-spacing: var(--spacing-small);
			}
		}

		p {
			margin: 1rem 0 2rem 0;
		}

		a {
			color: var(--orange);
			background: var(--creme);
			font-size: var(--fsize-logos);
			letter-spacing: var(--spacing-small);
			padding: var(--btn-pdg);
			box-shadow: var(--btn-shadow);
			transition: var(--transition-out);
			text-decoration: none;
			border: 2px solid transparent;
			cursor: pointer;
			
			&:hover {
				color: var(--creme);
				border: 2px solid var(--creme);
				transition: var(--transition-in);
				background: transparent;
				box-shadow: none;
			}
		}
	}
}