// SASS VARIABLES
$break-1: 850px;
$break-2: 500px;

// // HIGHLIGHTS STYLES // //
#highlights-section {
	background: var(--creme-light);

	article {
		max-width: var(--page-max-width);
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;

		@media screen and (max-width: $break-1) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (max-width: $break-2) {
			grid-template-columns: 1fr;
		}

		.highlight-container {
			display: grid;
			grid-template-columns: 1fr 4fr;
			text-align: left;

			i {
				color: var(--orange);
				font-size: var(--fsize-hero);
				margin-right: 1rem;
				text-align: center;
			}

			div {
				color: var(--grey);
				display: block;
			}
		}
	}
}