// SASS VARIABLES //
$break-1: 1000px;
$break-2: 850px;
$break-3: 550px;
$break-4: 350px;
$break-5: 850px; //vertical
$break-6: 550px; //vertical

// // PROJECTS STYLES // //
#projects-section {
	background: var(--creme);

	#projects-h4 {
		color: var(--grey);
	}

	article {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;

		@media screen and (max-width: $break-2) {
			grid-template-columns: 1fr;
		}

		div {
			position: relative;
			background: linear-gradient(rgba(99, 72, 17, 0.5), rgba(0, 0, 0, 0.9));
			box-shadow: 0.125rem 0.125rem 0.125rem var(--grey);

			&:hover {
				img {
					opacity: 0.8;
					transition: var(--transition-in);
				}

				.project-h4 {
					background: var(--creme-light-transparent);
					transition: var(--transition-in);
				}

				p {
					background: var(--creme-light-transparent);
					transition: var(--transition-in);
				}
			}

			img {
				display: block; /* "display: block" eliminates bottom margin */
				width: 100%;
				opacity: 0.7;
				filter: sepia(5%);
				transition: var(--transition-out);
			}

			.project-h4 {
				color: var(--grey);
				background: rgba(252, 234, 197, 0.8);
				clip-path: polygon(0 0, 20% 100%, 100% 100%, 100% 100%, 100% 0);
				padding: 0.375rem 0.5rem 0.375rem 2.25rem;
				position: absolute;
				top: -1px; /* "top: -1px" eliminates 1px margin on some cards */
				right: 0;
				text-align: right;
				transition: var(--transition-out);
			}

			p {
				color: var(--grey);
				background: rgba(252, 234, 197, 0.8);
				padding: 0.375rem 0.5rem;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				text-align: center;
				transition: var(--transition-out);

				@media screen and (max-width: $break-4) {
					display: none;
				}
			}
		}
	}
}