/* CSS VARIABLES (sass variables are in corresponding files)*/
:root {
	/* colors */
	--brown: #634811;
	--creme: #FCEAC5;
	--creme-light: #fceac590;
	--yellow: #E3A427;
	--grey: #66625A;
	--orange: #B3811E;
	/* font size */
	--fsize-hero: 3rem;
	--fsize-logos: 1.625rem;
	/* letter spacing */
	--spacing-big: 0.3125rem;
	--spacing-small: 0.125rem;
	/* widths */
	--page-max-width: 1280px;
	/* paddings and margins */
	--section-pdg: 4rem 2rem;
	--heading-pdg: 0 0 2rem 0;
	--btn-pdg: 0.5rem 1rem;
	--scroll-mrg-tp: 6rem;
	/* shadows */
	--btn-shadow: 0.125rem 0.125rem 0.125rem var(--grey);
	/* transitions */
	--transition-in: 0.3s ease-in;
	--transition-out: 0.3s ease-out;
}

/* GLOBAL STYLES */
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
	list-style: none;
}

.chapter {
	scroll-margin-top: var(--scroll-mrg-tp);
	padding: var(--section-pdg);
	text-align: center;
}

.chapter h2 {
	padding: var(--heading-pdg);
	font-size: var(--fsize-logos);
	letter-spacing: var(--spacing-small);
	color: var(--orange);
}

.chapter-btn {
	color: var(--creme);
	background: var(--orange);
	font-size: var(--fsize-text);
	letter-spacing: var(--spacing-small);
	padding: var(--btn-pdg);
	box-shadow: var(--btn-shadow);
	transition: var(--transition-out);
	text-decoration: none;
	cursor: pointer;
	display: none;
}

.chapter-btn:hover {
	transition: var(--transition-in);
	background: var(--yellow);
	box-shadow: none;
}

@media screen and (max-width: 850px) {
	.chapter-btn {
		display: block;
		width: 10rem;
		margin: 2rem auto 0 auto;
	}
}