/* (sass variables are in corresponding files)
$break-1: 1000px;
$break-2: 850px;
$break-3: 550px;
$break-4: 350px;
$break-5: 850px; //vertical
$break-6: 550px; //vertical
*/

/* CSS VARIABLES */
:root {
	/* colors */
	--brown: #634811;
	--creme: #FCEAC5;
	--creme-light: #fdf3de;
	--creme-light-transparent: #fceac590;
	--yellow: #E3A427;
	--yellow-light: #f4b330;
	--grey: #66625A;
	--orange: #B3811E;
	/* font size */
	--fsize-hero: 3rem;
	--fsize-logos: 1.625rem;
	/* letter spacing */
	--spacing-big: 0.3125rem;
	--spacing-small: 0.125rem;
	/* widths */
	--page-max-width: 1280px;
	/* paddings and margins */
	--section-pdg: 4rem 2rem;
	--heading-pdg: 0 0 2rem 0;
	--btn-pdg: 0.5rem 1rem;
	--scroll-mrg-tp: 6rem;
	/* shadows */
	--btn-shadow: 0.125rem 0.125rem 0.125rem var(--grey);
	/* transitions */
	--transition-in: 0.3s ease-in;
	--transition-out: 0.3s ease-out;
}

/* GLOBAL STYLES */
html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
	list-style: none;
}

/* SECTION */
.chapter {
	scroll-margin-top: var(--scroll-mrg-tp);
	padding: var(--section-pdg);
	text-align: center;
}

@media screen and (max-width: 350px),
(max-height: 850px) {
	.chapter {
		scroll-margin-top: 2.5rem;
	}
}

.chapter article {
	max-width: var(--page-max-width);
	margin: 0 auto;
}

.chapter h2 {
	padding: var(--heading-pdg);
	font-size: var(--fsize-logos);
	letter-spacing: var(--spacing-small);
	color: var(--orange);
}

/* SECTION BUTTON */
.btn-chapter-jump {
	transition: var(--transition-out);
	color: var(--creme);
	background: var(--orange);
	box-shadow: var(--btn-shadow);
	padding: var(--btn-pdg);
	letter-spacing: var(--spacing-small);
	text-decoration: none;
	cursor: pointer;
	display: none;
}

.btn-chapter-jump:active {
	transition: var(--transition-in);
	background: var(--yellow);
	box-shadow: none;
}

@media (hover: hover) {
	.btn-chapter-jump:hover {
		transition: var(--transition-in);
		background: var(--yellow);
		box-shadow: none;
	}
}

@media screen and (max-width: 850px) {
	.btn-chapter-jump {
		display: block;
		margin: 2rem auto 0 auto;
		width: 10rem;
	}
}

/* REGULAR BUTTON */
.btn-regular {
	transition: var(--transition-out);
	color: var(--creme);
	background: var(--orange);
	padding: var(--btn-pdg);
	letter-spacing: var(--spacing-small);
	text-decoration: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
}

.btn-regular:active {
	transition: var(--transition-in);
	background: var(--yellow);
	box-shadow: none;
}

@media (hover: hover) {
	.btn-regular:hover {
		transition: var(--transition-in);
		background: var(--yellow);
		box-shadow: none;
	}
}